@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Monteserrat' sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin-left: auto;
  padding: 10px;
}

nav a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav img {
  height: 20px;
}

.user_profile {
  height: 10px;
}

main {
  width: 50%;
  margin: auto;
  padding-top: 25px;
  text-align: center;
}

main img {
  width: 70%;
}

main input {
  width: 70%;
  padding: 1em;
  text-align: center;
  border-radius: 20px;
  border: 1px solid gray;
}

input {
  position: relative;
}

.search {
  position: absolute;
}

.btn {
  margin-top: 30px;
}

.btn:hover {
  cursor: pointer;
}

.btn button {
  padding: 1em;
  border: none;
}

.lang {
  padding-top: 1em;
}

.lang a {
  text-decoration: none;
}

footer {
  background-color: #e8eaf6;
  margin-top: 9em;
}

footer a {
  text-decoration: none;
  color: #000;
  margin-right: 1em;
}

.footer_top {
  padding: 1em;
}

.footer_bottom {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.fab {
  color: #4caf50;
}
/* 
@media only screen and (max-width: 576px) {


  nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 170px;
    font-size: 16px;
  }

  main {
    width: 80%;
    margin: auto;
    padding-top: 25px;
    text-align: center;
  }

  main img {
    width: 70%;
  }

  main input {
    width: 100%;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
    border: 1px solid gray;
  }

  .btn button {
    padding: 9px;
    border: none;
  }

  .lang {
    font-size: 10px;
  }

  footer {
    margin-top: 15rem;
    font-size: 5px;
  }
} */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 170px;
    font-size: 16px;
  }

  main {
    width: 80%;
    margin: auto;
    padding-top: 25px;
    text-align: center;
  }

  main img {
    width: 70%;
  }

  main input {
    width: 100%;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
    border: 1px solid gray;
  }

  .btn button {
    padding: 9px;
    border: none;
  }

  .lang {
    font-size: 10px;
  }

  footer {
    margin-top: 17rem;
    font-size: 5px;
  }
}

@media only screen and (max-device-width: 480px) {
  nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 170px;
    font-size: 16px;
  }

  main {
    width: 80%;
    margin: auto;
    padding-top: 25px;
    text-align: center;
  }

  main img {
    width: 70%;
  }

  main input {
    width: 100%;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
    border: 1px solid gray;
  }

  .btn button {
    padding: 9px;
    border: none;
  }

  .lang {
    font-size: 10px;
  }

  footer {
    margin-top: 13.5rem;
    font-size: 5px;
  }
}
